node_modules
.DS_Store
dist
dist-ssr
*.local

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/connect-four.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
